/* CSS for adding content example */

@import url(//fonts.googleapis.com/css?family=Open+Sans:800italic);

body {
  font-family: "Courier New", Courier, monospace;
  margin: 0px;
  padding: 0px;
  background-image: url(https://newevolutiondesigns.com/images/freebies/galaxy-wallpaper-30.jpg);
  background-size: cover;
  text-align: center;
}

#wrapper {
  max-width: 520px;
  margin: 10px auto;
}

div.transbox {
  overflow: auto;
  margin: 30px;
  background-color: #ffffff;
  border: 1px ; /*no color, keeps things in line*/
  background: rgba(255, 255, 255, 0.8); /*  white background with 80% opacity */
  height: auto;
  }
