@font-face {
    font-family: 'Shadows Into Light', cursive;
    src: url('https://fonts.googleapis.com/css?family=Shadows+Into+Light');
  }
body {
  font-family: 'Shadows Into Light', cursive;
  margin: 0px;
  padding: 0px;
  background-image: url(nebula.png);
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  color: rgba(223, 110, 62, 1);
}

p {
     text-shadow: 0 0 3px #FF0000;
}

input {
  padding: 12px;
  background:rgba(123, 44, 42, .5);
  color: rgba(223, 110, 62, 1);
;
}

/*color scheme for reference

RGB 
black: rgba(12, 8, 9, 1);
blue: rgba(53, 159, 237, 1);
orange: rgba(223, 110, 62, 1);
red: rgba(123, 44, 42, 1);
darkred: rgba(59, 18, 25, 1);

*/