  @font-face {
    font-family: 'Shadows Into Light', cursive;
    src: url('https://fonts.googleapis.com/css?family=Shadows+Into+Light');
  }
body {
  font-family: 'Shadows Into Light', cursive;
  margin: 0px;
  padding: 0px;
  background-image: url(nebula.png);
  background-size: cover;
  background-repeat: no-repeat;
  color: rgba(223, 110, 62, 1);
}

h1 {
  text-align: center;
  text-shadow: 0 0 3px black;
}

p {
  font-size: 3em;
  text-align: center;
  text-shadow: 0 0 3px black;
}
 
input {
  padding: 7px;
  background: rgba(123, 44, 42, .5);
  color: rgba(223, 110, 62, 1);
  text-align: center;
  font-family: 'Shadows Into Light', cursive;
  font-size: 1em;
  text-shadow: 0 0 3px black;
}

.box {
  max-width: 50%;
  margin-left: 1rem;
  display: flex;
  justify-content: space-around;
  flex-direction: column;

}

.grid {
  
     display: flex;
    flex-direction: column;

    max-width: 68.75rem; /* 1100px */
    margin: 0 auto;

}

.grid img{
   width: 9rem;
    height: 9rem;
    margin: .5rem auto;
}

#displayMsg {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 50%;
  text-shadow: 0 0 3px black;
  font-size: 1.2em;
  margin: .5em;
}

@media screen and (min-width: 30rem)
{
    .grid
    {
        flex-direction: row;

        flex-wrap: wrap;
        justify-content: space-around;
    }

    .grid img
    {
        margin: .5rem;
    }
}

/*color scheme for reference

RGB 
black: rgba(12, 8, 9, 1);
blue: rgba(53, 159, 237, 1);
orange: rgba(223, 110, 62, 1);
red: rgba(123, 44, 42, 1);
darkred: rgba(59, 18, 25, 1);

*/